* {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

html {
  overflow: auto;
  height: 100%;
  width: 100%;
}

body {
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
a {
  text-decoration: none;
  color: inherit;
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url("../assets/images/blueWaveBackground.jpeg");
  background-size: cover;
  filter: blur(10px);
  transform: scale(1.1);
  z-index: -1;
}

.todo {
  width: 90%;
  height: 90%;
  margin: 2% 5% 0% 5%;
  flex-wrap: wrap;
  background-color: rgb(12, 26, 54, 0.5);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.main-navbar {
  height: 15%;
  width: 100%;
  display: flex;
  font-size: 18pt;
}

.widgets {
  width: 70%;
  height: 100%;
  display: flex;
  color: white;
  align-items: center;
  padding-left: 20px;
  justify-content: space-around;
}

.nav-icon {
  margin-right: 10px;
}

.logo {
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}

#team-logo > img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

#list-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
  padding: 50px 50px 50px 0px;
  box-sizing: border-box;
  height: calc(100% - 100px);
}

.list-column {
  border-radius: 5px;
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

#not-started-title,
#in-progress-title,
#done-title {
  background-color: #33646d;
  color: #d8fafcf4;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
}

#num-not-started,
#num-in-progress,
#num-done {
  color: black;
}

#not-started,
#in-progress,
#done-content {
  background-color: #315d6d;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

#not-started-list,
#in-progress-list,
#done-list {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  max-height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.new-task-button-not-started,
.new-task-button-in-progress {
  background-color: #7ab4bd;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.task {
  background-color: #54959f;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;

  .first-row,
  .second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .category {
    margin-top: 15px;
    margin-left: 7px;
    width: 100px;
    flex-shrink: 0;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    box-shadow: none;
  }

  #edit-button,
  #delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
  }

  #edit-button img,
  #delete-button img {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    pointer-events: none;
  }

  #due-date {
    margin-top: 3px;
    margin-right: 10px;
    font-size: 1em;
    color: #80f1fd;
    background-color: #315d6d;
    padding: 5px 10px;
    border-radius: 5px;
  }

  p {
    font-size: 1.2em;
    font-weight: bold;
    color: #f5fdfe;
  }
}

#num-not-started {
  background-color: red;
  border-radius: 100px;
  padding: 15px;
  width: 15px;
  height: 5px;
  line-height: 9px;
}

#num-in-progress {
  background-color: yellow;
  border-radius: 100px;
  padding: 15px;
  width: 15px;
  height: 5px;
  line-height: 9px;
}

#num-done {
  background-color: green;
  border-radius: 100px;
  padding: 15px;
  width: 15px;
  height: 5px;
  line-height: 9px;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 25px;
  border-radius: 25px;
  color: black;
  font-size: 16px;
}

.category-select {
  background-color: darkorange;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  height: 25px;
  width: 100px;
  text-align: center;
  padding: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  outline: none;
}

.category-select option {
  background-color: white;
  color: black;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 90%;
  max-width: 800px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.6;
}

.modal-content p,
.modal-content label,
.modal-content input,
.modal-content button,
.modal-content select,
.modal-content textarea {
  font-size: 1.2em;
}

/* Ensuring buttons and inputs are larger for better accessibility */
.modal-content input,
.modal-content button,
.modal-content select,
.modal-content textarea {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1.2em;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .main-navbar {
    font-size: 11pt;
  }

  .widgets {
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }

  .logo {
    display: none;
  }

  #list-container {
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    gap: 10px;
    padding: 20px 10px;
  }

  .list-column {
    flex: 0 0 80%;
    width: 80%;
    min-width: auto;
    padding: 10px;
    overflow: auto;
  }

  #not-started-title,
  #in-progress-title,
  #done-title {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .task {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 5px;
  }

  .category {
    width: auto;
    padding: 5px 10px;
    font-size: 14px;
  }

  .new-task-button-not-started,
  .new-task-button-in-progress {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  .modal-content {
    width: 90%;
    padding: 10px;
  }

  .modal {
    padding-top: 10px;
  }
}

/* Add the following CSS for the dropdown menu */
#team-logo {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #74CBDF;
  min-width: 100px; /* Adjusted the minimum width */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0; /* Ensure the dropdown is contained within the page */
}

.dropdown-content a {
  color: black;
  padding: 8px 12px; /* Adjusted padding to make it smaller */
  text-decoration: none;
  display: block;
  font-size: 14px; /* Adjusted font size to make it smaller */
}

.dropdown-content a:hover {
  background-color: #49727B;
}

#team-logo:hover .dropdown-content {
  display: block;
}
/* Style for the loading screen */
.loading-screen {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 2em;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
